/***********************************************************
 * CABEÇALHO
*************************************************************/


#cabecalho-pagina {
    /* Bloco azul ao lado das marcas */
    /*background: linear-gradient(90deg, #f0f5f9 50%, #ffffff 50%);*/
}

#cabecalho-pagina #grupo-cabecalho {
    background-color:#fff;
    display:block;
}

#cabecalho-pagina #grupo-links-conteudo {
    margin:0 0 3px 1em;
    
    li {
        display: inline;
        color: $cor-fonte-escura;
        font-size: x-small;
        margin: 0 1.5em 0 0;
        
        a span {
            background-color: $cor-azul-escura;
            padding: 1px 4px;
            color: #fff;
        }
    }
    
    .link-acessibilidade {
        float:right;
        color: $cor-fonte-escura;
        font-size: x-small;
        margin: 0.6em 3% 3px 1em;
    }
    
    
    @include tela-celular {
        display:none;
    }
}



#cabecalho-pagina #id-inf {
    width:200px;
    height:100px;
    display:block;
    background: $cor-azul-clara;
    text-align:center;
    float:left;
    
    div {
        display:block;
        line-height:160%;
        font-family:"Myriad Pro Semibold", "Myriad Pro", Myriad, Arial, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, sans-serif !important;
        color:black;
        /*margin: 15% 0 15% 0;*/
        @include centraliza-vertical();
        
        h1 {
            font-size:260%;
            font-weight:bold;
        }
        
        span {
            font-size:60%;
        }
    }
    
    @include tela-celular {
        width:50%;
        height:100px;
        div {
            /*margin:10% 0 10% 0;*/
            @include centraliza-vertical();
        }
    }
}


#cabecalho-pagina #id-ufg {
    width: 200px;
    height: 100px;
    display: block;
    float: left;
    img {
        width: auto;
        height: 100%;
    }
    
    @include tela-celular {
        width:50%;
        float:left;
        clear:both;
        text-align:center;
        height:100px;
        clear:none;
        img {
            height:100%;
            width:auto;
            @include centraliza-vertical();
        }
    }
}



/***********************************************************
 * CABEÇALHO: CENTRO
*************************************************************/


#cabecalho-pagina #grupo-centro {
    width:400px;
    display:block;
    float:right;
    margin-right:3%;
    clear:right;
    
    @include tela-celular {
        width:100%;
        float:left;
        margin:0;
    }
}




/***********************************************************
 * CABEÇALHO: ACESSIBILIDADE
*************************************************************/



#cabecalho-pagina #grupo-acessibilidade {
    margin:10px 0 0 0;
    display:block;
    width:100%;
    
    nav {
        clear:both;
        background-color:#fff;
        color:$cor-fonte-escura;
    }
    
    #acessibilidade {
        float:right;
        border:1px solid #DFDFDF;
        border-radius:2px;
        @include border_radius(2px);
        background-color:#F1F1F1;
        padding: 1px 5px 1px 5px;
        font-weight:bold !important;
        font-size:12px;
        
        #acessibilidade-fonte {
            color:black;
            font-family:Arial, Helvetica, sans-serif !important;
            font-weight:900;
            font-style:normal;
            font-size:medium;
            a {
                margin:0 1px 0 1px;
            }

        }
        
        #acessibilidade-cor {
            a {
                padding:1px 3px 1px 3px;
                border: 1px solid #DFDFDF;
                display:inline-block;
                color: #484848;
                margin:1px;
            }
            
            .contrast_normal {
                background-color:#fff;
                color:#484848;
            }
            
            .contrast_blue {
                background-color:#9FCFFF;
                color:#000066;
            }
            
            .contrast_black {
                background-color:#000;
                color:#FFFF00;
            }
            
            .contrast_yellow {
                background-color:#DFD179;
                color:#020167;
            }
        }
        
        
        
        @include tela-celular {
            //float:left;
            //margin: 0 0 2em 3em;
            float:none;
            position:absolute;
            top:0;
            right:0;
            margin:3em 1.5em 0 0;
        }
    }
}





/***********************************************************
 * CABEÇALHO: MIDIAS SOCIAIS
*************************************************************/

#cabecalho-pagina #grupo-midias-sociais {
    width:100%;
    display:block;
    height:40px;
    margin:15% 0 0 0;
    .icone-midia {
        display:block;
        float:right;
        width:7%;
        margin: 0 2% 0 2%;
        img {
            width:100%;
            height:auto;
        }
    }
    
    @include tela-celular {
        //margin-top:3em;
        margin:1em 0 0.5em 0;
        clear:both;
        width:100%;
        .icone-midia {
            float:left;
            margin: 0 0 0 2%;
            width:10%;
        }
        
    }
}


/***********************************************************
 * CABEÇALHO: CARROSSEL
*************************************************************/

#cabecalho-carrossel {
    display:block;
    width:100%;
    background-color:#DFDFDF;
    float:left;
    max-height: 230px !important;
    
    img {
        width:100%;
        height:auto;
    }
    
    @include tela-celular {
        margin-bottom: -3px;
    }
}

/***********************************************************
 * BARRA SUPERIOR
*************************************************************/
.elemento-barra-superior {
    border-right: 1px solid #fff;
    height:100%;
    
    @include tela-celular {
        border:none;
        width:50%;
    }
}

#barra-superior {
    display: block;
    height: 37px;
    background-color: $cor-azul-menu-superior;
    color:#fff;
    
    @include tela-celular {
        display:flex;
        height:auto;
    }
}

#grupo-barra-superior {
    display: block;
    height: 100%;
    border-left: 1px solid #fff;
    
    @include tela-celular {
        height:auto;
        border: none;
    }
}


%busca-inputs {

    @include box-size-hack();
               
    border:none;
    margin:0;
    padding:0;
    line-height:1em;
}

#grupo-busca-barra-superior {

    width: 35%;
    float: left;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    form {
        @include box-size-hack();
       
        margin: 1.8% 0 0 20px;
        
        input.campo-busca {
            @extend %busca-inputs;

            padding: 2px 0 2px 8px;
            background: #fff;
            font-family: "Myriad Pro", Myriad, Verdana, Arial, Helvetica, sans-serif;
            font-size: 1em;
            width: 88%;
            color:$cor-fonte-clara;
            height:1.5em;
            
            
        }
        
        
        input.botao-busca {
            
            background:transparent;
            background-image: url("./imagens/busca2.png");
            background-repeat:no-repeat;
            /*color:transparent !important;*/
            white-space: nowrap;
            text-indent:-9999px;
            width:24px;
            height:24px;
            
            @extend %busca-inputs;
        }
    }
    
    @include tela-celular {
        width: 100%;
        border:none;
        padding: 5px 0;
    }
}


#menu-barra-superior {
    float: right;
    font-size: small;
    border-left: 1px solid #fff;
    height:100%;
    
    &> ul {
        position:relative;
        height:100%;
        .submenu-barra-superior {
            display:none;
            li {
                background-color: $cor-submenu-superior;
                display: block;
                width: 100%;
                color: $cor-fonte-escura;
                
                a:hover {
                    background-color:$cor-submenu-superior-hover;
                }
            }
        }
        
        li {
            display: block;
            float: left;
            &> a {
                display: block;
                padding: 10px;
            }
        }
        
        &> li {
            position:relative;
            background-image: url("./imagens/drop-down-white1.png");
            background-repeat: no-repeat;
            background-position: 95% 14px;
            padding-right: 15px;
            
            &:hover {
                background-image: url("./imagens/drop-down-white2.png");
            }
        }
    }
    
    @include tela-celular {
        float:left;
        border:none;
        height:auto;
        width:100%;
        border-left:none;
        
        &> ul > li {
            padding-right: 0;
        }
    }
}

