/***********************************************************
 * PAGINA PRINCIPAL
*************************************************************/

#principal #conteudo {
    min-height:300px;
    
}


/***********************************************************
 * PRINCIPAL: AREA CONTEUDO
*************************************************************/

#area-conteudo {
    max-width: 800px;
    float:left;
    display:block;
    margin:1em 0;
    
    @include tela-celular {
        max-width: $res-tela-celular;
        margin:0;
    }
}

.bloco-conteudo {
    float:left;
    display:block;

    padding-top: 4px;
    position: relative;
    max-width:800px;
    margin: 0.25em 0 0.25em 1em;
    padding: 0.25em 0.5em;
    border:  1px solid #D3D3D3;
    @include border_radius(5px);
    
    @include tela-celular {
        max-width: $res-tela-celular;
        margin: 0.5em 0;
        padding:0;
        border:none;
        border-top: 1px solid #D3D3D3;
        
        @include border_radius(0px);
    }
}

.cabecalho-bloco {
    padding-bottom: 4px;
    padding-left: 5px;
    
    >a {
        border-bottom: 3px solid $cor-azul-media;
        padding-bottom: 4px;
        padding-right: 61px;
        padding-left: 5px;
        margin: -5px;
        
        line-height: 20px;
        font-size: 14px;
        color: $cor-fonte-escura;
        font-weight: bold;
        text-decoration: none;
    }
}

.sessao-conteudo {
    overflow: hidden;
}

%conteudo-caixa {
    list-style-type: none;
    
    height: 158px;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 10px 10px;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
    
    max-width: 740px;
    min-width: 300px;
    width: 360px;
    
    article {
        margin-right: 0px;
        margin-left: 0px;
        text-align: left;
        height: 100%;
    }
    
    header {
        padding: 0px 8px 0px 8px;
        
        h2 {
            font-size: 14px;
            color: $cor-fonte-escura;
            font-weight: bold;
            /*height: 43px;*/
            height:2.3em;
            overflow: hidden;
/*            margin: 8px 0px 6px 0px;*/
            margin:0 0 5px 0;
            line-height: 15px;
            
            font-style: normal;
            font-variant: normal;
            
            text-rendering: optimizelegibility;
        }
    }
    
    summary {
        display:none;
    }
    
    .leia-mais {
        display:none;
    }
    
    @include tela-celular {
        width:auto;
    }
}


.conteudo-caixa-imagem {
    @extend %conteudo-caixa;
    
    .link-imagem-noticia {
        overflow: hidden;
        display: block;
        height: 100px;
        transition-duration: .15s;
        
        text-align: left;
        
        img {
            width:360px;
            margin:0;
            max-width: 100%;
            height: auto;
        }
        
    }
}

.conteudo-caixa-texto {
    @extend %conteudo-caixa;
    
    summary {
        margin: 0 !important;
        speak: none;
        font-size: 12px !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        -webkit-font-smoothing: antialiased;
        
        color: $cor-fonte-escura;
        display: block;
        overflow: hidden;
        
        padding: 0px 8px 0px 8px;
    }
    
    .link-imagem-noticia {
        display:none;
    }
    
    .leia-mais {
        display:block;
        padding: 3px 8px 0px 8px;
        margin: 0 !important;
        float: left;
        
        a {
            text-decoration: none;
            font-size: 10px;
            color: $cor-azul-media;
            font-weight: bold;
            display: block;
        }
    }
}


.link-ver-todas a {
    position: absolute;
    /*top: 4px;
    right: 5px;*/
    line-height: 20px;
    font-size: 12px !important;
    color: $cor-fonte-escura;
    border-bottom: 3px solid $cor-azul-media;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 61px;
    margin-right: -5px;
    text-decoration: none;
    
    bottom: -2px;
    left: 40%;
    border-bottom: 3px solid $cor-azul-media;
    padding-bottom: 2px;
    padding-right: 61px;
    padding-left: 61px;
    //background-color:$cor-azul-clara;
    
    &:hover {
        //background-color:$cor-azul-clara;
        text-decoration:underline;
    }
    
    @include tela-celular {
        padding-right:15px;
        bottom:auto;
        left:auto;
        top:4px;
        right:5px;
    }
}
