/***********************************************************
 * PAGINA PRINCIPAL: MENU LATERAL
*************************************************************/


#menu-lateral {
    width:200px;
    float:left;
    font-size:90%;
    
    margin-top:1.5em;
    
    >ul > li {
        //background-color: $cor-azul-escura;
        background-color: $cor-azul-menu-superior;
        display:block;
        border-top: 3px solid $cor-azul-media;
        color: white;
        font-weight: bold;
        
        &:hover {
            border-color: $cor-azul-escura;
        }
        
        a {
            display:block;
            /*padding: 5px 5px 0 15px;
            padding-bottom:1.2em;*/
            padding:0.8em;
            padding-bottom:1.5em;
            
            &:hover {
                //background-color: $cor-azul-media;
                //color: $cor-fonte-azul-hover;
                background-color: $cor-azul-escura;
                color:$cor-azul-clara;
            }
        }
        
    }
    
    @include tela-celular {
        margin-top:0;
        width:100%;
        float:left;
        
        ul {
            display:none;
        }
        
        &:hover ul {
            display:block;
        }
    }
}

#menu-lateral .menu-lateral-sub {
    margin: 0 0 1.5em 0;
    list-style: none;
    display: block;
    
    li {
        //background-color: $cor-azul-clara;
        //color: $cor-azul-escura;
        background-color: $cor-submenu-superior;
        color: $cor-fonte-escura;
        a {
            display:block;
            padding: 0.6em 0.6em 0.6em 2em;
            
            &:hover {
                //background-color: $cor-azul-media;
                //color: $cor-fonte-azul-hover;
                background-color: $cor-submenu-superior-hover;
            }
        }
    }
}


#menu-lateral-mobile {
    display:none;
    
    @include tela-celular {
        display:block;
        width:100%;
        background-color: $cor-azul-menu-superior;
        color: white;
        font-weight: bold;
        text-align:center;
        padding-top:1em;
        padding-bottom:1em;
    }
}


